[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-caching = "*"
flask-redis = "*"
flask-pymongo = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.6"
